[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = "KNoT fog connector with meshblu 2.0 "
[access "refs/*"]
	owner = group KNoT Maintainers
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group KNoT Maintainers
	label-Verified = -1..+1 group KNoT Maintainers
	push = group KNoT Maintainers
	read = group KNoT Maintainers
	rebase = group KNoT Maintainers
	removeReviewer = group KNoT Maintainers
	submit = group KNoT Maintainers
[access "refs/heads/*"]
	create = group KNoT Maintainers
	push = +force group KNoT Maintainers
	pushMerge = group KNoT Maintainers
	read = group KNoT Maintainers
	label-Code-Review = -2..+2 group KNoT Maintainers
[access "refs/tags/*"]
	push = +force group KNoT Maintainers
